@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@media print {
  @page {
    size: A5 landscape;
    margin: 0;
  }

  .print-page-break {
    page-break-after: always;
    break-after: page;
  }
}